@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 255 255 255;
    --color-foreground: 36 45 64;
    --color-surface: 246 247 250;
    --color-btn: 255 255 255;
    --color-btn-hover: 246 247 250;
    --color-border: 231 235 243;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: 15 20 30;
      --color-foreground: 231 235 243;
      --color-surface: 36 45 64;
      --color-btn: 36 45 64;
      --color-btn-hover: 47 57 80;
      --color-border: 58 70 96;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground flex min-h-dvh place-content-center place-items-center;
  }
}
